# --- Extensiones de Usuario ---
*.user
*.suo
*.useros

# --- Carpetas de Compilación (Súper importante) ---
bin/
obj/
/AtonBeerTesis.Application/bin/
/AtonBeerTesis.Application/obj/
/AtonBeerTesis.Domain/bin/
/AtonBeerTesis.Domain/obj/
/AtonBeerTesis.Infrastructure/bin/
/AtonBeerTesis.Infrastructure/obj/

# --- Visual Studio ---
.vs/
.idea/

# --- Bases de Datos Locales ---
*.mdf
*.ldf