# Basura de Visual Studio
.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpetas de Compilación (lo que genera ruido)
**/bin/
**/obj/

# Otros
.idea/
.vscode/
/AtonBeerV3/node_modules
/AtonBeerV3/.angular
/AtonBeerTesis/AtonBeerTesis.Application/obj
/AtonBeerTesis/.vs
