@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  html {
    zoom: 0.8;
  }
  
  .shell, .sidebar, .main {
    min-height: 125vh !important;
  }
}

html,
body {
  overflow-x: hidden;
  background-color: #f8fafc; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}