<div class="flex h-screen bg-gray-100 font-sans">
  
  <aside class="w-64 bg-[#2c3e50] text-white flex flex-col shadow-xl">
    <div class="p-6 text-center border-b border-gray-600">
      <h1 class="text-2xl font-bold">🍺 AtonBeer</h1>
      <p class="text-xs text-gray-400 mt-1">Panel de Control</p>
    </div>

    <nav class="flex-1 p-4 space-y-2">
      
      <a routerLink="historial" routerLinkActive="bg-blue-600" class="flex items-center p-3 rounded hover:bg-gray-700 transition cursor-pointer">
        <span class="mr-3">📋</span> Auditoría
      </a>

      <a routerLink="usuarios" routerLinkActive="bg-blue-600" class="flex items-center p-3 rounded hover:bg-gray-700 transition cursor-pointer">
        <span class="mr-3">👥</span> Usuarios
      </a>

      <a routerLink="roles" routerLinkActive="bg-blue-600" class="flex items-center p-3 rounded hover:bg-gray-700 transition cursor-pointer">
        <span class="mr-3">🔑</span> Roles
      </a>

    </nav>

    <div class="p-4 border-t border-gray-600">
      <div class="mb-4 text-sm text-center text-gray-400" *ngIf="usuario">
        Hola, {{ usuario.nombre }}
      </div>
      <button (click)="logout()" class="w-full p-2 bg-red-600 hover:bg-red-700 rounded text-sm font-bold flex justify-center items-center transition">
        🚪 Cerrar Sesión
      </button>
    </div>
  </aside>

  <main class="flex-1 overflow-auto p-8 relative">
    <router-outlet></router-outlet>
  </main>

</div>